@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body #navbar-container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
}
body #navbar-container .nav .logo-div img {
  width: 60px;
}
body #navbar-container .nav .nav-right a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
body #navbar-container .nav .nav-right a:hover {
  color: #9600fc;
  transition: 0.3s;
}
body #navbar-container .nav .nav-right button {
  background-color: #fff;
  margin: 0px 20px;
  transition: 0.3s;
  border: none;
}
body #navbar-container .nav .nav-right button a {
  width: 100%;
  border: 2px solid #9600fc;
  border-radius: 25px;
  font-size: 18px;
  padding: 14px 25px;
  color: #9600fc;
}
body #navbar-container .nav .nav-right button:hover a {
  color: #fff;
  background-color: #9600fc;
}
@media screen and (max-width: 1080px) and (min-width: 700px) {
  body #navbar-container .nav {
    padding: 25px 30px;
  }
  body #navbar-container .nav .logo-div img {
    width: 45px;
  }
  body #navbar-container .nav .nav-right a {
    font-size: 16px;
  }
  body #navbar-container .nav .nav-right button {
    margin: 0px 15px;
  }
  body #navbar-container .nav .nav-right button a {
    font-size: 16px;
    padding: 12px 25px;
  }
}
@media screen and (max-width: 700px) {
  body #navbar-container .nav {
    padding: 20px 25px;
  }
  body #navbar-container .nav .logo-div img {
    width: 40px;
  }
  body #navbar-container .nav .nav-right a {
    font-size: 16px;
  }
  body #navbar-container .nav .nav-right button {
    margin: 0px 15px;
  }
  body #navbar-container .nav .nav-right button a {
    font-size: 16px;
    padding: 12px 25px;
  }
}
body .container {
  padding: 10px 40px 0px 40px;
}
body .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 50px 0px 0px 0px;
}
body .header h1 {
  font-size: 40px;
  font-weight: Bold;
}
body .header p {
  font-size: 20px;
  margin-top: -10px;
  color: #555;
  margin-bottom: 50px;
}
body .header .profile-card {
  margin-bottom: 40px;
}
@media screen and (max-width: 1080px) and (min-width: 700px) {
  body .header {
    padding: 40px 0px 0px 0px;
  }
  body .header h1 {
    font-size: 30px;
    text-align: center;
  }
  body .header p {
    font-size: 18px;
    margin-top: -10px;
    color: #555;
    margin-bottom: 40px;
    text-align: center;
  }
  body .header .profile-card {
    margin-bottom: 33px;
  }
  body .header .profile-card img {
    width: 150px;
  }
  body .header .hero-img {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  body .header {
    padding: 35px 0px 0px 0px;
  }
  body .header h1 {
    font-size: 25px;
    width: 80%;
    text-align: center;
  }
  body .header p {
    font-size: 16px;
    margin-top: -10px;
    color: #555;
    margin-bottom: 30px;
    width: 80%;
    text-align: center;
  }
  body .header .profile-card {
    margin-bottom: 33px;
  }
  body .header .profile-card img {
    width: 105px;
  }
  body .header .hero-img {
    width: 80%;
  }
}
body .intro-section {
  background-color: #9600fc;
  color: #fff;
}
body .intro-section .section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 450px;
}
body .intro-section .section-intro .text-container {
  padding: 100px 300px;
}
body .intro-section .section-intro .text-container h1 {
  font-size: 35px;
  text-align: center;
}
body .intro-section .section-intro .text-container p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.8px;
}
body .intro-section .section-intro .skills-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  bottom: -450px;
  box-shadow: 0px 0px 15px #eee;
}
body .intro-section .section-intro .skills-container .skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px 50px;
  border: 1px solid #eee;
}
body .intro-section .section-intro .skills-container .skills-card img {
  width: 50px;
  height: 50px;
}
body .intro-section .section-intro .skills-container .skills-card h1 {
  color: #111;
}
body .intro-section .section-intro .skills-container .skills-card h3 {
  color: #9600fc;
}
body .intro-section .section-intro .skills-container .skills-card p {
  color: #111;
  width: 250px;
  text-align: center;
}
body .intro-section .section-intro .skills-container .skills-card:first-child {
  border-radius: 20px 0px 0px 20px;
}
body .intro-section .section-intro .skills-container .skills-card:last-child {
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .intro-section .section-intro {
    padding-bottom: 130px;
    margin-bottom: 1670px;
    position: relative;
  }
  body .intro-section .section-intro .text-container {
    padding: 70px 100px;
  }
  body .intro-section .section-intro .text-container h1 {
    font-size: 25px;
    text-align: center;
  }
  body .intro-section .section-intro .text-container p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.7px;
  }
  body .intro-section .section-intro .skills-container {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 270%;
    width: 80%;
    box-shadow: 0px 0px 15px #eee;
  }
  body .intro-section .section-intro .skills-container .skills-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px 30px;
    border: 1px solid #eee;
    box-shadow: 0px 10px 10px #eee;
  }
  body .intro-section .section-intro .skills-container .skills-card:first-child {
    border-radius: 20px 20px 0px 0px;
  }
  body .intro-section .section-intro .skills-container .skills-card:last-child {
    border-radius: 0px 0px 20px 20px;
  }
}
@media (max-width: 700px) {
  body .intro-section .section-intro {
    padding-bottom: 110px;
    margin-bottom: 1670px;
    position: relative;
  }
  body .intro-section .section-intro .text-container {
    padding: 30px 50px;
  }
  body .intro-section .section-intro .text-container h1 {
    font-size: 22px;
    text-align: center;
  }
  body .intro-section .section-intro .text-container p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.7px;
  }
  body .intro-section .section-intro .skills-container {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 270%;
    width: 90%;
    box-shadow: 0px 0px 15px #eee;
  }
  body .intro-section .section-intro .skills-container .skills-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px 30px;
    border: 1px solid #eee;
    box-shadow: 0px 10px 10px #eee;
  }
  body .intro-section .section-intro .skills-container .skills-card:first-child {
    border-radius: 20px 20px 0px 0px;
  }
  body .intro-section .section-intro .skills-container .skills-card:last-child {
    border-radius: 0px 0px 20px 20px;
  }
}
body .recent-work {
  padding-top: 100px;
  border-bottom: 1px solid #eeee;
  margin-bottom: 100px;
}
body .recent-work .recent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body .recent-work .recent-container h1 {
  font-size: 35px;
  color: #444;
}
body .recent-work .recent-container p {
  color: #555;
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 80px;
}
body .recent-work .recent-container p a {
  text-decoration: none;
  color: #9600fc;
  transition: 0.3s;
}
body .recent-work .recent-container p a:hover {
  color: #9566fa;
  text-decoration: underline;
}
body .recent-work .recent-container .recent-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
}
body .recent-work .recent-container .recent-cards-container .recent-card {
  width: 32%;
  height: 250px;
  background-color: coral;
  margin: 1% 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-blend-mode: multiply;
  transition-duration: 0.9s;
}
body .recent-work .recent-container .recent-cards-container .recent-card p {
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  opacity: 0;
  font-size: 22px;
  color: #fff;
  transition: 0.5s;
}
body .recent-work .recent-container .recent-cards-container .recent-card button {
  opacity: 0;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #19133b;
  border: 2px solid #9600fc;
  transition: 0.5s;
}
body .recent-work .recent-container .recent-cards-container .recent-card button:hover {
  background-color: #9600fc;
}
body .recent-work .recent-container .recent-cards-container .recent-card-1 {
  background: url("https://mattfarley.ca/img/projects/wfdesignbuild.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card-2 {
  background: url("https://mattfarley.ca/img/projects/awg2020.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card-3 {
  background: url("https://mattfarley.ca/img/projects/chronicled.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card-4 {
  background: url("https://mattfarley.ca/img/projects/glcsolutions.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card-5 {
  background: url("https://mattfarley.ca/img/projects/coupal.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card-6 {
  background: url("https://mattfarley.ca/img/projects/wedlerengineering.png");
  background-size: contain;
}
body .recent-work .recent-container .recent-cards-container .recent-card:hover {
  background-color: #19133b;
}
body .recent-work .recent-container .recent-cards-container .recent-card:hover p {
  opacity: 1;
}
body .recent-work .recent-container .recent-cards-container .recent-card:hover button {
  opacity: 1;
}
body .recent-work .recent-container .recent-see-more-btn {
  font-size: 1.2em;
  color: #9600fc;
  padding: 10px 35px;
  margin: 80px 0px 140px 0px;
  border-radius: 20px;
  border: 1px solid #9600fc;
  background-color: #fff;
  transition: 0.3s;
}
body .recent-work .recent-container .recent-see-more-btn span {
  font-size: 1.1em;
  margin: 0px 10px 0px 0px;
}
body .recent-work .recent-container .recent-see-more-btn:hover {
  background-color: #9600fc;
  color: #fff;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .recent-work .recent-container h1 {
    font-size: 28px;
    color: #444;
  }
  body .recent-work .recent-container p {
    font-size: 17px;
    margin-bottom: 70px;
  }
  body .recent-work .recent-container .recent-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card {
    width: 48%;
    height: 210px;
    margin: 2% 0px;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card p {
    margin-bottom: 15px;
    width: 80%;
    font-size: 18px;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card button {
    padding: 8px 22px;
    font-size: 17px;
  }
  body .recent-work .recent-container .recent-see-more-btn {
    font-size: 1.1em;
    padding: 8px 30px;
    margin: 70px 0px 110px 0px;
  }
}
@media (max-width: 700px) {
  body .recent-work .recent-container h1 {
    font-size: 26px;
    color: #444;
  }
  body .recent-work .recent-container p {
    font-size: 16px;
    margin-bottom: 60px;
    text-align: center;
  }
  body .recent-work .recent-container .recent-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card {
    width: 100%;
    height: 250px;
    margin: 2% 0px;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card p {
    margin-bottom: 15px;
    width: 80%;
    font-size: 18px;
  }
  body .recent-work .recent-container .recent-cards-container .recent-card button {
    padding: 8px 20px;
    font-size: 16px;
  }
  body .recent-work .recent-container .recent-see-more-btn {
    font-size: 1.1em;
    padding: 8px 30px;
    margin: 70px 0px 110px 0px;
  }
}
body .companies {
  margin-bottom: 130px;
}
body .companies .companies-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .companies .companies-section h1 {
  color: #333;
  font-size: 2em;
  width: 50%;
  text-align: center;
  text-shadow: 0px 0px 2px #aaa;
  margin: 45px 0px;
}
body .companies .companies-section .logo-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}
body .companies .companies-section .logo-cards-container img {
  width: 25%;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .companies {
    margin-bottom: 110px;
  }
  body .companies .companies-section h1 {
    color: #333;
    font-size: 1.9em;
    width: 60%;
    text-shadow: 0px 0px 1.5px #aaa;
    margin-bottom: 100px;
  }
  body .companies .companies-section .logo-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
  }
  body .companies .companies-section .logo-cards-container img {
    width: 42%;
  }
}
@media (max-width: 700px) {
  body .companies {
    margin-bottom: 110px;
  }
  body .companies .companies-section h1 {
    color: #333;
    font-size: 1.9em;
    width: 60%;
    text-shadow: 0px 0px 1.5px #aaa;
    margin-bottom: 100px;
  }
  body .companies .companies-section .logo-cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
  }
  body .companies .companies-section .logo-cards-container img {
    width: 60%;
  }
}
body .my-startup-section {
  background-color: #9600fc;
  color: #fff;
}
body .my-startup-section .section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 450px;
}
body .my-startup-section .section-intro .text-container {
  padding: 100px 300px;
}
body .my-startup-section .section-intro .text-container h1 {
  font-size: 35px;
  text-align: center;
}
body .my-startup-section .section-intro .text-container p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.8px;
}
body .my-startup-section .section-intro .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  bottom: -450px;
}
body .my-startup-section .section-intro .skills-container .skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  background-color: #fff;
  padding: 40px 50px;
  border: 1px solid #eee;
  margin-bottom: 2%;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #eee;
}
body .my-startup-section .section-intro .skills-container .skills-card img {
  width: 60%;
  height: 50px;
}
body .my-startup-section .section-intro .skills-container .skills-card p {
  color: #555;
  width: 270px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 30px;
  margin: 28px 0px;
}
body .my-startup-section .section-intro .skills-container .skills-card a {
  color: #9600fc;
  text-decoration: none;
  font-size: 18px;
}
body .my-startup-section .section-intro .skills-container .skills-card a svg {
  width: 17px;
  margin-right: 8px;
}
body .my-startup-section .section-intro .skills-container .skills-card .disabled {
  opacity: 0.4;
}
body .my-startup-section .section-intro .skills-container .skills-card .disabled:hover {
  cursor: not-allowed;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .my-startup-section .section-intro {
    padding-bottom: 120px;
    margin-bottom: 125%;
  }
  body .my-startup-section .section-intro .text-container {
    padding: 70px 100px;
  }
  body .my-startup-section .section-intro .text-container h1 {
    font-size: 28px;
  }
  body .my-startup-section .section-intro .text-container p {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.7px;
  }
  body .my-startup-section .section-intro .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    top: 70%;
  }
  body .my-startup-section .section-intro .skills-container .skills-card {
    width: 33%;
    margin-bottom: 3%;
    box-shadow: 0px 4px 15px #eee;
  }
  body .my-startup-section .section-intro .skills-container .skills-card p {
    color: #555;
    width: 270px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin: 25px 0px;
  }
}
@media (max-width: 700px) {
  body .my-startup-section .section-intro {
    padding-bottom: 100px;
    margin-bottom: 1680px;
  }
  body .my-startup-section .section-intro .text-container {
    padding: 50px 50px;
  }
  body .my-startup-section .section-intro .text-container h1 {
    font-size: 26px;
  }
  body .my-startup-section .section-intro .text-container p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.7px;
  }
  body .my-startup-section .section-intro .skills-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 70%;
  }
  body .my-startup-section .section-intro .skills-container .skills-card {
    width: 100%;
    margin-bottom: 3%;
    box-shadow: 0px 4px 15px #eee;
  }
  body .my-startup-section .section-intro .skills-container .skills-card p {
    color: #555;
    width: 95%;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: 30px;
    margin: 20px 0px;
  }
}
body .interesting-collobrating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 130px 0px;
  padding-bottom: 130px;
  border-bottom: 1px solid #eee;
}
body .interesting-collobrating h1 {
  font-size: 1.7em;
  font-weight: 500;
  color: #333;
}
body .interesting-collobrating p {
  color: #333;
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-bottom: 70px;
}
body .interesting-collobrating button {
  color: #9600fc;
  font-size: 19px;
  padding: 14px 35px;
  background-color: #fff;
  border: 2px solid #9600fc;
  border-radius: 30px;
  transition: 0.3s;
}
body .interesting-collobrating button:hover {
  background-color: #9600fc;
  color: #fff;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .interesting-collobrating {
    margin: 50px 0px 110px 0px;
    padding-bottom: 110px;
  }
  body .interesting-collobrating h1 {
    font-size: 1.6em;
  }
  body .interesting-collobrating p {
    font-size: 17px;
  }
  body .interesting-collobrating button {
    color: #9600fc;
    font-size: 18px;
    padding: 11px 28px;
  }
}
@media (max-width: 700px) {
  body .interesting-collobrating {
    margin: 50px 0px 100px 0px;
    padding-bottom: 100px;
  }
  body .interesting-collobrating h1 {
    font-size: 1.5em;
    text-align: center;
  }
  body .interesting-collobrating p {
    font-size: 16px;
    text-align: center;
  }
  body .interesting-collobrating button {
    color: #9600fc;
    font-size: 16px;
    padding: 10px 26px;
  }
}
body .testimonials-section .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .testimonials-section .testimonials .testimonials-header-text {
  text-align: center;
}
body .testimonials-section .testimonials .testimonials-header-text h1 {
  font-size: 2em;
  color: #333;
  font-weight: 900;
}
body .testimonials-section .testimonials .testimonials-header-text p {
  font-size: 20px;
  color: #555;
}
body .testimonials-section .testimonials .testimonials-cards-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  transition: 1s;
}
body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card img {
  width: 100px;
  border-radius: 50%;
}
body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card p {
  width: 85%;
  font-size: 22px;
  letter-spacing: 0.6px;
  text-align: center;
  color: #333;
  margin-top: 30px;
}
body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card h2 {
  color: #333;
}
body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card h5 {
  font-size: 17px;
  font-weight: 400;
  margin-top: -15px;
  opacity: 0.6;
}
body .testimonials-section .testimonials .testimonials-cards-container .pascal {
  left: 0%;
}
body .testimonials-section .testimonials .testimonials-cards-container .alvin {
  right: -100%;
}
body .testimonials-section .testimonials .pagination {
  display: flex;
  justify-content: center;
  padding: 30px;
}
body .testimonials-section .testimonials .pagination div {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #bbb;
  margin: 8px;
  transition: 0.6s;
}
body .testimonials-section .testimonials .pagination .active-pagination {
  background-color: #9600fc;
  border: 2px solid #9600fc;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body .testimonials-section .testimonials .testimonials-header-text h1 {
    font-size: 1.8em;
  }
  body .testimonials-section .testimonials .testimonials-header-text p {
    font-size: 18px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container {
    width: 70%;
    height: 450px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card img {
    width: 90px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card p {
    width: 85%;
    font-size: 20px;
    margin-top: 27px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card h5 {
    font-size: 16px;
  }
  body .testimonials-section .testimonials .pagination {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}
@media (max-width: 700px) {
  body .testimonials-section .testimonials .testimonials-header-text h1 {
    font-size: 1.8em;
  }
  body .testimonials-section .testimonials .testimonials-header-text p {
    font-size: 18px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container {
    width: 70%;
    height: 450px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card img {
    width: 90px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card p {
    width: 85%;
    font-size: 20px;
    margin-top: 27px;
  }
  body .testimonials-section .testimonials .testimonials-cards-container .testimonials-card h5 {
    font-size: 16px;
  }
  body .testimonials-section .testimonials .pagination {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}
body footer {
  background: #9600fc;
  margin-bottom: 0;
  margin-top: 60px;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body footer .footer .start-project-card {
  width: 90%;
  background-color: #19133b;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  margin-top: -60px;
}
body footer .footer .start-project-card p {
  width: 35%;
  font-size: 18px;
  opacity: 0.8;
  letter-spacing: 0.6;
}
body footer .footer .start-project-card button {
  color: #fff;
  background-color: #19133b;
  font-size: 18px;
  border: 2px solid #9600fc;
  border-radius: 25px;
  height: 50px;
  padding: 13px 40px;
  transition: 0.3s;
}
body footer .footer .start-project-card button:hover {
  background-color: #9600fc;
}
body footer .footer .img-logo-footer {
  margin-top: 80px;
}
body footer .footer .f-text {
  color: white;
  font-size: 20px;
  margin: 40px;
  opacity: 0.9;
}
body footer .footer .socials {
  display: flex;
}
body footer .footer .socials div {
  width: 40px;
  height: 40px;
  border: 2px solid #b700ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  transition: 0.3s;
}
body footer .footer .socials div img {
  width: 22px;
  color: #fff;
}
body footer .footer .socials div:hover {
  background-color: #fff;
  border: 2px solid #fff;
}
body footer .footer .copy-p {
  color: white;
  letter-spacing: 0.6px;
  opacity: 0.8;
}
body footer .footer .copy-p span {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 2px;
}
body footer .footer h5 {
  color: #fff;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 50px;
}
@media (max-width: 1080px) and (min-width: 700px) {
  body footer {
    margin-top: 120px;
  }
  body footer .footer .start-project-card {
    flex-direction: column;
    width: 80%;
    margin-top: -100px;
  }
  body footer .footer .start-project-card p {
    width: 70%;
    font-size: 17px;
    margin: 30px;
  }
  body footer .footer .start-project-card button {
    width: 40%;
    font-size: 16px;
    height: 45px;
    padding: 11px 10px;
  }
  body footer .footer .img-logo-footer {
    margin-top: 70px;
  }
  body footer .footer .f-text {
    font-size: 18px;
    margin: 30px;
  }
  body footer .footer .socials div {
    width: 35px;
    height: 35px;
  }
  body footer .footer .socials div img {
    width: 20px;
  }
  body footer .footer .copy-p span {
    font-size: 18px;
  }
  body footer .footer h5 {
    font-size: 17px;
    margin-bottom: 40px;
  }
}
@media (max-width: 700px) {
  body footer {
    margin-top: 120px;
  }
  body footer .footer .start-project-card {
    flex-direction: column;
    width: 80%;
    margin-top: -100px;
  }
  body footer .footer .start-project-card p {
    width: 70%;
    font-size: 17px;
    margin: 30px;
  }
  body footer .footer .start-project-card button {
    width: 40%;
    font-size: 16px;
    height: 45px;
    padding: 11px 10px;
  }
  body footer .footer .img-logo-footer {
    margin-top: 70px;
  }
  body footer .footer .f-text {
    font-size: 18px;
    margin: 30px;
  }
  body footer .footer .socials div {
    width: 35px;
    height: 35px;
  }
  body footer .footer .socials div img {
    width: 20px;
  }
  body footer .footer .copy-p span {
    font-size: 18px;
  }
  body footer .footer h5 {
    font-size: 17px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
