@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik', sans-serif;

$rubik: 'Rubik', sans-serif;
$poppins: 'Poppins', sans-serif;
$primary-color: #9600fc;


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #navbar-container{
        // background: #aaa;

        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 35px 50px;

            .logo-div img{
                width: 60px;
            }

            .nav-right{
                a{
                    text-decoration: none;
                    color: #111;
                    font-size: 18px;
                    font-family: $rubik;
                }

                a:hover{
                    color: $primary-color;
                    transition: 0.3s;
                }

                button{
                    background-color: #fff;
                    margin: 0px 20px;
                    transition: 0.3s;
                    border: none;
                    a{
                        width: 100%;
                        border: 2px solid $primary-color;
                        border-radius: 25px;
                        font-size: 18px;
                        padding: 14px 25px;
                        color: $primary-color;
                    }
                }

                button:hover a{
                    color: #fff;
                    background-color: $primary-color;
                }
            }


        }

        @media screen and (max-width: 1080px) and (min-width: 700px) {
            .nav{
                padding: 25px 30px;
    
                .logo-div img{
                    width: 45px;
                }
    
                .nav-right{
                    // display: none;
                    a{
                        font-size: 16px;
                    }
    
                    button{
                        margin: 0px 15px;
                        a{
                            font-size: 16px;
                            padding: 12px 25px;
                        }
                    }
                }
    
    
            }
        }
        @media screen and (max-width: 700px) {
            .nav{
                padding: 20px 25px;
    
                .logo-div img{
                    width: 40px;
                }
    
                .nav-right{
                    // display: none;
                    a{
                        font-size: 16px;
                    }
    
                    button{
                        margin: 0px 15px;
                        a{
                            font-size: 16px;
                            padding: 12px 25px;
                        }
                    }
                }
    
    
            }
        }

    }    


    .container{
        padding: 10px 40px 0px 40px;
    }

    .header{
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        align-items: center;
        font-family: $poppins;
        padding: 50px 0px 0px 0px;

        h1{
            font-size: 40px;
            font-weight: Bold;
        }

        p{
            font-size: 20px;
            margin-top: -10px;
            color: #555;
            margin-bottom: 50px;
        }

        .profile-card{
            // max-height: 500px;
            margin-bottom: 40px;
        }

    }

    @media screen and (max-width: 1080px) and (min-width: 700px) {
        .header{
            padding: 40px 0px 0px 0px;
    
            h1{
                font-size: 30px;
                text-align: center;
            }
    
            p{
                font-size: 18px;
                margin-top: -10px;
                color: #555;
                margin-bottom: 40px;
                text-align: center;
            }
    
            .profile-card{
                // max-height: 500px;
                margin-bottom: 33px;
                img{
                    width: 150px;
                }
            }
            .hero-img{
                width: 60%;
            }
    
        }
    
    }
    @media screen and (max-width: 700px) {
        .header{
            padding: 35px 0px 0px 0px;
    
            h1{
                font-size: 25px;
                width: 80%;
                text-align: center;
            }
    
            p{
                font-size: 16px;
                margin-top: -10px;
                color: #555;
                margin-bottom: 30px;
                width: 80%;
                text-align: center;
            }
    
            .profile-card{
                // max-height: 500px;
                margin-bottom: 33px;
                img{
                    width: 105px;
                }
            }
            .hero-img{
                width: 80%;
            }
    
        }
    
    }

    .intro-section{
        background-color: $primary-color;
        color: #fff;


        .section-intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-bottom: 150px;
            margin-bottom: 450px;

            .text-container{
                padding: 100px 300px;

                h1{
                    font-size: 35px;
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                }

            }


            .skills-container{

                display: flex;
                justify-content: center;
                border-radius: 20px;
                position: absolute;
                bottom: -450px;
                box-shadow: 0px 0px 15px #eee;

                .skills-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    padding: 30px 50px;
                    border: 1px solid #eee;

                    img{
                        width: 50px;
                        height: 50px;
                    }
                    h1{
                        color: #111;
                    }

                    h3{
                        color: $primary-color;
                    }
                    
                    p{
                        color: #111;
                        width: 250px;
                        text-align: center;
                    }
                }

                .skills-card:first-child{
                    border-radius: 20px 0px 0px 20px;
                }
                .skills-card:last-child{
                    border-radius:0px 20px 20px 0px;
                }
            }

        }

        @media (max-width: 1080px) and (min-width: 700px) {
            .section-intro{
                padding-bottom: 130px;
                margin-bottom: 1670px;
                position: relative;
    
                .text-container{
                    padding: 70px 100px;
    
                    h1{
                        font-size: 25px;
                        text-align: center;
                    }
    
                    p{
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 0.7px;
                    }
    
                }
    
    
                .skills-container{
                    // display: block;
                    flex-direction: column;
                    // justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    top: 270%;
                    width: 80%;
                    box-shadow: 0px 0px 15px #eee;
    
                    .skills-card{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #fff;
                        padding: 30px 30px;
                        border: 1px solid #eee;
                        box-shadow: 0px 10px 10px #eee;
    
                    }
    
                    .skills-card:first-child{
                        border-radius: 20px 20px 0px 0px;
                    }
                    .skills-card:last-child{
                        border-radius:0px 0px 20px 20px;
                    }
                }
    
            }
        }
        @media (max-width: 700px) {
            .section-intro{
                padding-bottom: 110px;
                margin-bottom: 1670px;
                position: relative;
    
                .text-container{
                    padding: 30px 50px;
    
                    h1{
                        font-size: 22px;
                        text-align: center;
                    }
    
                    p{
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 0.7px;
                    }
    
                }
    
    
                .skills-container{
                    // display: block;
                    flex-direction: column;
                    // justify-content: flex-end;
                    align-items: center;
                    position: absolute;
                    top: 270%;
                    width: 90%;
                    box-shadow: 0px 0px 15px #eee;
    
                    .skills-card{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #fff;
                        padding: 30px 30px;
                        border: 1px solid #eee;
                        box-shadow: 0px 10px 10px #eee;
    
                    }
    
                    .skills-card:first-child{
                        border-radius: 20px 20px 0px 0px;
                    }
                    .skills-card:last-child{
                        border-radius:0px 0px 20px 20px;
                    }
                }
    
            }
        }
    }
    
    .recent-work{

        padding-top: 100px;
        border-bottom: 1px solid #eeee;
        margin-bottom: 100px;

        .recent-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h1{
                font-size: 35px;
                color: #444;
            }

            p{
                color: #555;
                font-size: 18px;
                margin-top: -10px;
                margin-bottom: 80px;

                a{
                    text-decoration: none;
                    color: $primary-color;
                    transition: 0.3s;

                    &:hover{
                        color: #9566fa;
                        text-decoration: underline;
                    }
                }
            }

            .recent-cards-container{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 85%;


                .recent-card{
                    width: 32%;
                    height: 250px;
                    background-color: coral;
                    margin: 1% 0px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-position: center;
                    background-blend-mode: multiply;
                    transition-duration: 0.9s;

                    // &:hover{
                    //     background-size: 120%;
                    // }

                    p{
                        margin-bottom: 20px;
                        width: 80%;
                        text-align: center;
                        opacity: 0;
                        font-size: 22px;
                        color: #fff;
                        transition: 0.5s;
                    }
                    button{
                        opacity: 0;
                        color: #fff;
                        padding: 10px 25px;
                        border-radius: 20px;
                        font-size: 18px;
                        background-color: #19133b;
                        border: 2px solid $primary-color;
                        transition: 0.5s;
                        &:hover{
                            background-color: $primary-color;
                        }
                    }

                }

                .recent-card-1{
                    background: url("https://mattfarley.ca/img/projects/wfdesignbuild.png");
                    background-size: contain;
                }
                .recent-card-2{
                    background: url("https://mattfarley.ca/img/projects/awg2020.png");
                    background-size: contain;
                }
                .recent-card-3{
                    background: url("https://mattfarley.ca/img/projects/chronicled.png");
                    background-size: contain;
                }
                .recent-card-4{
                    background: url("https://mattfarley.ca/img/projects/glcsolutions.png");
                    background-size: contain;
                }
                .recent-card-5{
                    background: url("https://mattfarley.ca/img/projects/coupal.png");
                    background-size: contain;
                }
                .recent-card-6{
                    background: url("https://mattfarley.ca/img/projects/wedlerengineering.png");
                    background-size: contain;
                }

                .recent-card:hover{
                    // transform: scale(1.2);
                    // background-position: center;
                    background-color: #19133b;
                }

                .recent-card:hover  p{
                    // visibility: visible;
                    opacity: 1;
                }
                .recent-card:hover  button{
                    // visibility: visible;
                    opacity: 1;
                }

            }

            .recent-see-more-btn{
                font-size: 1.2em;
                color: $primary-color;
                padding: 10px 35px;
                margin: 80px 0px 140px 0px;
                border-radius: 20px;
                border: 1px solid $primary-color;
                background-color: #fff;
                transition: 0.3s;
                // vertical-align: center;

                span{
                    font-size: 1.1em;
                    margin: 0px 10px 0px 0px;
                }

                &:hover{
                    background-color: $primary-color;
                    color: #fff;
                }
            }

        }

        @media (max-width: 1080px) and (min-width: 700px){
            .recent-container{
    
                h1{
                    font-size: 28px;
                    color: #444;
                }
    
                p{
                    font-size: 17px;
                    margin-bottom: 70px;
                }
    
                .recent-cards-container{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 90%;
    
    
                    .recent-card{
                        width: 48%;
                        height: 210px;
                        margin: 2% 0px;
    
                        // &:hover{
                        //     background-size: 120%;
                        // }
    
                        p{
                            margin-bottom: 15px;
                            width: 80%;
                            font-size: 18px;
                        }
                        button{
                            padding: 8px 22px;
                            font-size: 17px;
                        }
    
                    }
    
                }
    
                .recent-see-more-btn{
                    font-size: 1.1em;
                    padding: 8px 30px;
                    margin: 70px 0px 110px 0px;
                }
    
            }            
        }
        @media (max-width: 700px){
            .recent-container{
    
                h1{
                    font-size: 26px;
                    color: #444;
                }
    
                p{
                    font-size: 16px;
                    margin-bottom: 60px;
                    text-align: center;
                }
    
                .recent-cards-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 95%;
    
    
                    .recent-card{
                        width: 100%;
                        height: 250px;
                        margin: 2% 0px;
    
                        // &:hover{
                        //     background-size: 120%;
                        // }
    
                        p{
                            margin-bottom: 15px;
                            width: 80%;
                            font-size: 18px;
                        }
                        button{
                            padding: 8px 20px;
                            font-size: 16px;
                        }
    
                    }
    
                }
    
                .recent-see-more-btn{
                    font-size: 1.1em;
                    padding: 8px 30px;
                    margin: 70px 0px 110px 0px;
                }
    
            }            
        }

    }

    .companies{

        margin-bottom: 130px;

        .companies-section{

            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                color: #333;
                font-size: 2em;
                width: 50%;
                text-align: center;
                text-shadow: 0px 0px 2px #aaa;
                margin: 45px 0px;
            }

            .logo-cards-container{
                display: flex;
                flex-wrap: wrap;
                width: 95%;

                img{
                    // display: none;
                    width: 25%;
                }
            }
        }

        @media (max-width: 1080px) and (min-width: 700px){
            margin-bottom: 110px;

            .companies-section{
                h1{
                    color: #333;
                    font-size: 1.9em;
                    width: 60%;
                    text-shadow: 0px 0px 1.5px #aaa;
                    margin-bottom: 100px;
                }

                .logo-cards-container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 95%;

                    img{
                        // display: none;
                        width: 42%;
                    }
                }
            }
        }
        @media (max-width: 700px){
            margin-bottom: 110px;

            .companies-section{
                h1{
                    color: #333;
                    font-size: 1.9em;
                    width: 60%;
                    text-shadow: 0px 0px 1.5px #aaa;
                    margin-bottom: 100px;
                }

                .logo-cards-container{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 95%;

                    img{
                        // display: none;
                        width: 60%;
                    }
                }
            }
        }

    }

    .my-startup-section{
        background-color: $primary-color;
        color: #fff;


        .section-intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-bottom: 150px;
            margin-bottom: 450px;

            .text-container{
                padding: 100px 300px;

                h1{
                    font-size: 35px;
                    text-align: center;
                }

                p{
                    text-align: center;
                    font-size: 18px;
                    letter-spacing: 0.8px;
                }

            }


            .skills-container{

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 90%;
                // border-radius: 20px;
                position: absolute;
                bottom: -450px;
                // box-shadow: 0px 0px 15px #eee;

                .skills-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 23%;
                    background-color: #fff;
                    padding: 40px 50px;
                    border: 1px solid #eee;
                    margin-bottom: 2%;
                    border-radius: 15px;
                    box-shadow: 0px 4px 10px #eee;

                    img{
                        // width: 50px;
                        width: 60%;
                        height: 50px;
                    }

                    p{
                        color: #555;
                        width: 270px;
                        font-size: 18px;
                        text-align: center;
                        letter-spacing: 0.7px;
                        line-height: 30px;
                        margin: 28px 0px;
                    }

                    a{
                        color: $primary-color;
                        text-decoration: none;
                        font-size: 18px;

                        svg{
                            width: 17px;
                            margin-right: 8px;
                        }
                    }
                    .disabled{
                        opacity: 0.4;
                    }
                    .disabled:hover{
                        cursor: not-allowed;

                    }
                }

            }

        }

        @media (max-width: 1080px) and (min-width: 700px){
            .section-intro{
                padding-bottom: 120px;
                margin-bottom: 125%;
    
                .text-container{
                    padding: 70px 100px;
    
                    h1{
                        font-size: 28px;
                    }
    
                    p{
                        text-align: center;
                        font-size: 17px;
                        letter-spacing: 0.7px;
                    }
    
                }
    
    
                .skills-container{
    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    top: 70%;
    
                    .skills-card{
                        width: 33%;
                        margin-bottom: 3%;
                        box-shadow: 0px 4px 15px #eee;
    
                        p{
                            color: #555;
                            width: 270px;
                            font-size: 17px;
                            text-align: center;
                            letter-spacing: 0.6px;
                            line-height: 30px;
                            margin: 25px 0px;
                        }
                    }
    
                }
    
            }
        }
        @media (max-width: 700px){
            .section-intro{
                padding-bottom: 100px;
                margin-bottom: 1680px;
    
                .text-container{
                    padding: 50px 50px;
    
                    h1{
                        font-size: 26px;
                    }
    
                    p{
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 0.7px;
                    }
    
                }
    
    
                .skills-container{
    
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    top: 70%;
    
                    .skills-card{
                        width: 100%;
                        margin-bottom: 3%;
                        box-shadow: 0px 4px 15px #eee;
    
                        p{
                            color: #555;
                            width: 95%;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0.6px;
                            line-height: 30px;
                            margin: 20px 0px;
                        }
                    }
    
                }
    
            }
        }

    }


    .interesting-collobrating{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px 130px 0px;
        padding-bottom: 130px;
        border-bottom: 1px solid #eee;

        h1{
            font-size: 1.7em;
            font-weight: 500;
            color: #333;
        }
        p{
            color: #333;
            font-size: 18px;
            letter-spacing: 0.6px;
            margin-bottom: 70px;
        }
        button{
            color: $primary-color;
            font-size: 19px;
            padding: 14px 35px;
            background-color: #fff;
            border: 2px solid $primary-color;
            border-radius: 30px;
            transition: 0.3s;

            &:hover{
                background-color: $primary-color;
                color: #fff;
            }
        }

    }
    @media (max-width: 1080px) and (min-width: 700px){
        .interesting-collobrating{
            margin: 50px 0px 110px 0px;
            padding-bottom: 110px;
    
            h1{
                font-size: 1.6em;
            }
            p{
                font-size: 17px;
            }
            button{
                color: $primary-color;
                font-size: 18px;
                padding: 11px 28px;
            }
    
        }            
    }
    @media (max-width: 700px){
        .interesting-collobrating{
            margin: 50px 0px 100px 0px;
            padding-bottom: 100px;
    
            h1{
                font-size: 1.5em;
                text-align: center;
            }
            p{
                font-size: 16px;
                text-align: center;
            }
            button{
                color: $primary-color;
                font-size: 16px;
                padding: 10px 26px;
            }
    
        }            
    }


    .testimonials-section{

        .testimonials{
            display: flex;
            flex-direction: column;
            align-items: center;

            .testimonials-header-text{
                text-align: center;

                h1{
                    font-size: 2em;
                    color: #333;
                    font-weight: 900;
                }
                p{
                    font-size: 20px;
                    color: #555;
                }
            }

            .testimonials-cards-container{
                display: flex;
                justify-content: center;
                width: 50%;
                height: 400px;
                overflow: hidden;
                position: relative;

                .testimonials-card{
                    width: 100%;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 60px 0px;
                    transition: 1s;

                    img{
                        width: 100px;
                        border-radius: 50%;
                    }

                    p{
                        width: 85%;
                        font-size: 22px;
                        letter-spacing: 0.6px;
                        text-align: center;
                        color: #333;
                        margin-top: 30px;
                    }

                    h2{
                        color: #333;
                    }
                    h5{
                        font-size: 17px;
                        font-weight: 400;
                        margin-top: -15px;
                        opacity: 0.6;
                    }
                }
                .pascal{
                    left: 0%;
                }
                .alvin{
                    right: -100%;
                }

            }

            .pagination{

                display: flex;
                justify-content: center;
                padding: 30px;

                div{
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 2px solid #bbb;
                    margin: 8px;
                    transition: 0.6s;
                }

                .active-pagination{
                    background-color: $primary-color;
                    border: 2px solid $primary-color;
                }
            }

        }

        @media (max-width: 1080px) and (min-width: 700px){
            .testimonials{
    
                .testimonials-header-text{

                    h1{
                        font-size: 1.8em;
                    }
                    p{
                        font-size: 18px;
                    }
                }
    
                .testimonials-cards-container{

                    width: 70%;
                    height: 450px;
    
                    .testimonials-card{
    
                        img{
                            width: 90px;
                        }
    
                        p{
                            width: 85%;
                            font-size: 20px;
                            margin-top: 27px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
    
                }
    
                .pagination{
    
                    display: flex;
                    justify-content: center;
                    padding: 30px;
                }
    
            }   
        }
        @media (max-width: 700px){
            .testimonials{
    
                .testimonials-header-text{

                    h1{
                        font-size: 1.8em;
                    }
                    p{
                        font-size: 18px;
                    }
                }
    
                .testimonials-cards-container{

                    width: 70%;
                    height: 450px;
    
                    .testimonials-card{
    
                        img{
                            width: 90px;
                        }
    
                        p{
                            width: 85%;
                            font-size: 20px;
                            margin-top: 27px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
    
                }
    
                .pagination{
    
                    display: flex;
                    justify-content: center;
                    padding: 30px;
                }
    
            }   
        }

    }

    footer{

        background:rgba($color: $primary-color, $alpha: 1);
        margin-bottom: 0;
        margin-top: 60px;

        .footer{
            display: flex;
            flex-direction: column;
            align-items: center;          
            text-align: center;  

            .start-project-card{
                width: 90%;
                background-color: #19133b;
                color: #fff;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 40px;
                border-radius: 20px;
                margin-top: -60px;

                p{
                    width: 35%;
                    font-size: 18px;
                    opacity: 0.8;
                    letter-spacing: 0.6;
                }
                button{
                    color:#fff;
                    background-color: #19133b;
                    font-size: 18px;
                    border: 2px solid $primary-color;
                    border-radius: 25px;
                    height: 50px;
                    padding: 13px 40px;
                    transition: 0.3s;
                    &:hover{
                        background-color: $primary-color;
                    }
                }
            }
            .img-logo-footer{
                margin-top: 80px;
            }
            .f-text{
                color: white;
                font-size: 20px;
                // font-weight: 600;
                margin: 40px;
                opacity: 0.9;
            }

            .socials{
                display: flex;
                div{
                    width: 40px;
                    height: 40px;
                    // padding: 10px;
                    border: 2px solid #b700ff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 8px;
                    transition: 0.3s;
                    img{
                        width: 22px;
                        color: #fff;
                    }
                    &:hover{
                        background-color: #fff;
                        border: 2px solid #fff;
                    }
                }
            }

            .copy-p{
                color:white;
                letter-spacing: 0.6px;
                opacity: 0.8;

                span{
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0px 2px;
                }
            }
            h5{
                color: #fff;
                font-size: 18px;
                opacity: 0.8;
                margin-bottom: 50px;
            }
        }

        @media (max-width: 1080px) and (min-width: 700px){
            margin-top: 120px;
            .footer{
                .start-project-card{
                    flex-direction: column;
                    width: 80%;
                    margin-top: -100px;
    
                    p{
                        width: 70%;
                        font-size: 17px;
                        margin: 30px;
                    }
                    button{
                        width: 40%;
                        font-size: 16px;
                        height: 45px;
                        padding: 11px 10px;
                    }
                }
                .img-logo-footer{
                    margin-top: 70px;
                }
                .f-text{
                    font-size: 18px;
                    margin: 30px;
                }
    
                .socials{
                    div{
                        width: 35px;
                        height: 35px;
                        // padding: 10px;
                        img{
                            width: 20px;
                        }
                    }
                }
    
                .copy-p{
    
                    span{
                        font-size: 18px;
                    }
                }
                h5{
                    font-size: 17px;
                    margin-bottom: 40px;
                }
            }
        }
        @media (max-width: 700px){
            margin-top: 120px;
            .footer{
                .start-project-card{
                    flex-direction: column;
                    width: 80%;
                    margin-top: -100px;
    
                    p{
                        width: 70%;
                        font-size: 17px;
                        margin: 30px;
                    }
                    button{
                        width: 40%;
                        font-size: 16px;
                        height: 45px;
                        padding: 11px 10px;
                    }
                }
                .img-logo-footer{
                    margin-top: 70px;
                }
                .f-text{
                    font-size: 18px;
                    margin: 30px;
                }
    
                .socials{
                    div{
                        width: 35px;
                        height: 35px;
                        // padding: 10px;
                        img{
                            width: 20px;
                        }
                    }
                }
    
                .copy-p{
    
                    span{
                        font-size: 18px;
                    }
                }
                h5{
                    font-size: 17px;
                    margin-bottom: 40px;
                }
            }
        }

    }

}